@tailwind preflight;
@tailwind components;

/* COOKIE CONSENT */
.cookie-consent{
  @apply bg-primary-darkest text-white px-4 py-3 relative pt-10 pb-10;
}

.cookie-consent a{
  @apply block text-third my-3 no-underline;
}

.cookie-consent a:hover{
  @apply underline;
}
.cookie-consent #btn-cookie{
  @apply w-full bg-third text-white uppercase p-6;
}
.cookie-consent #btn-cookie:hover{
  @apply bg-white text-third border-third;
}


/* NAVBAR */

@media (max-width: 768px) {
  .navbar-top .justify-between{
    justify-content:inherit;
  }

  .navbar-responsive,
  .side-menu-responsive{
    @apply w-screen;
    left: -100vw;
    -webkit-transition:left 250ms ease-in-out;
    -moz-transition:left 250ms ease-in-out;
    -o-transition:left 250ms ease-in-out;
    transition:left 250ms ease-in-out;
  }
  .side-menu-responsive{
    top:0
  }

  .hide-navbar-responsive,
  .hide-sidemenu-responsive{
    left: -100vw;
  }
  .show-navbar-responsive,
  .show-sidemenu-responsive{
    left: 0vw;
  }
}

.btn-navbar{
  @apply inline-block text-white mr-4 no-underline uppercase;
}
.btn-navbar:hover{
  @apply text-third;
}

.numbers-of-products{
  @apply bg-red;
  position: absolute;
  border-radius: 50%;
  padding: 5px;
  right:-5px;
  top:-5px;
  font-size: 8px;
}

.btn-xs{
  @apply flex items-center px-3 py-2 border text-white visible;
}

.button{
  @apply flex items-center px-3 py-2 border text-white visible;
}

ul li:hover .container-submenu{
  display: block;
}

.container-submenu{
  padding: 3em;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  left: 0;
  display: none;
  background: white;
}

/* NEW PRODUCTS */
.new-products .box,
.racommended .box,
.special-offers .box,
.gifts .box{
  @apply text-grey-darker text-center bg-white pb-10 border-primary border-2;
}

/* BEST SELLER */
.btn-add-wish-list{
  @apply text-red text-center border-2 border-red px-3 py-3 m-2;
}

.btn-add-wish-list:hover{
  @apply bg-red text-white;
}

.btn-add-to-cart,
.btn-show-item,
.btn-back{
  @apply text-third text-center border-2 border-third px-3 py-3 m-2
}
.btn-add-to-cart:hover,
.btn-show-item:hover,
.btn-back:hover{
  @apply bg-third text-white;
}

.btn-show-all{
  @apply bg-third text-white uppercase p-6 border-2 border-transparent;
}
.btn-show-all:hover{
  @apply bg-white text-third border-third border-2;
}

.btn-confirm-order{
  @apply text-white text-center bg-third px-3 py-3 m-2 border
}
.btn-confirm-order:hover{
  @apply text-white bg-secondary
}

.btn-update-order{
  @apply text-third text-center border-third px-3 py-3 m-2 border
}
.btn-update-order:hover{
  @apply bg-third text-white text-center border-third px-3 py-3 m-2 border
}

/* Gallery */


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

/* Sidebar */

ul li:hover .submenu-list-items{
  display: block;
}

.show-list-items .item{
  @apply flex w-full mb-3;
}

.show-list-items .container-items .item{
  @apply border-b;
}

.show-list-items .container-items .item .btn-group{
  @apply items-start p-4;
}

.show-list-items .container-items .item .item-name{
  @apply p-4 text-left;
}

.btn-active{
  background: config('colors.third') !important;
  color: config('colors.white') !important;
}

/* Animation Shake */
.shake-cart {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@tailwind utilities;

@import 'common.css';
@import 'home.css';
@import 'tabs.css';
